body{
    background: url("Background/982992.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
    color: azure;
}
p{
    text-align: center;
    color: azure;
}
#gitIcon {
 padding: auto;
}
.githubMain-icon:link {
    color: azure;
}
.githubMain-icon:visited {
    color: azure;
}
.githubMain-icon:hover {
    color: aqua;
    text-shadow: 0px 0px 5px deepskyblue;
}