body{
    background-image: url("/Background/982992.jpg");
    background-size: auto;
}

h1 {
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
    color: azure;
}
p{
    text-align: center;
    color: azure;
}